{% macro displaySourcesList(sources_list) %}
    {% for source in sources_list%}
        <div class = "row*2">
            <div class = "col-xs-6 col-sm-6 col-md-6 col-lg-6 sources-card">
                <p class="source-name"><b>{{ source.name}}</b></p>
                <p class = "source-descr">{{source.description}}</p>
                <a href ="{{source.url}}"><button class = "btn btn-warning">View News Source</button></a>
            </div>
        </div> 
    </div>
    {% endfor %}
{% endmacro %}
            
{% macro displayHeadlinesList(headlines_list) %}

    {% for headline in headlines_list%}
    <div class = "row*2">
        <div class = "col-xs-6 col-sm-6 col-md-6 col-lg-6 headlines-card">
            <img src = "{{headline.urlToImage}}" alt = "{{headline.title}} image" class = "img-responsive">
            <h1 class = "headline-title"><b>{{ headline.title|truncate (70) }}</b></h1>
                <p>{{ headline.description|truncate(50)}}</p>
                <a href = {{headline.url}}><button class = "btn btn-warning">View Story</button></a>
                <p><b>Published by</b> {{ headline.author}} <b>on</b> {{ headline.publishedAt}}</p>
                
        </div>
    </div>
    {% endfor %}
{% endmacro %}



